.body {
  background-image: url('https://images.unsplash.com/photo-1491958501121-458097ef59ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2106&q=80');
  background-size: contain;
  background-repeat: round;
}
#header {
  background-color: rgba(255, 254, 254, 0.865);
}
#card {
  background-color: rgba(255, 254, 254, 0.653);
}